<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./reset.css">
  <link rel="stylesheet" href="./css/style.css">
  <title>Document</title>
</head>

<body>
  <div class="card" id="shower-rain">
    <div class="card-container">
      <div class="card-content">
        <h1 class="title">A title</h1>
        <h3 class="subtitle">A subtitle</h3>
      </div>
    </div>
  </div>
</body>

</html>