<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./reset.css">
  <link rel="stylesheet" href="./css/style.css">
  <title>Document</title>
</head>

<body>
  <main>
    <div class="card" id="sunny">
      <div class="card-container">
        <div></div>
        <div class="card-content">
          <div class="weather-city">
            <p class="title">Los Angeles</p>
            <div class="weather-content">
              <div class="weather-data">
                <div class="date">May 23, 2019</div>
                <div class="icon">
                  <img src="http://openweathermap.org/img/wn/04d@2x.png" alt="icon" width="50">
                  <span class="weather-station">Sunny</span>
                </div>
              </div>
              <div class="degrees">78&deg;</div>
            </div>
          </div>
          <hr>
          <div class="additional-info">
            <h3 class="additional-info-title">Additional info</h3>
            <div class="additional-info-container">
              <div class="insolation">Insolation <p>33%</p></div>
              <div class="humidity">Humidity <p>60%</p></div>
              <div class="wind">Wind <p>18km/h</p></div>
            </div>
          </div>
          <!-- <h1 class="title">A title</h1>
          <h3 class="subtitle">A subtitle</h3> -->

        </div>

        <div class="input">
          <div class="input-container">
            <input type="text" id="country" placeholder="City" autocomplete="off">
            <svg class="svg-icon">
              <use href="./assets/icons.svg#search-symbol"></use>
            </svg>
          </div>
        </div>

      </div>
    </div>
  </main>
</body>

</html>