/* stylelint-disable csstree/validator */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*--primary-light-color: #acd6ff;
  --black-700: #5e5e5e;
  --gray-800: #9197a3;
  --gray-600: #c6c6c6;
  --gray-500: #dfdfdf;
  --gray-400: #f5f5f5;
  --gray-300: #f8f8f8; */
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  background-color: #299cfb; }

.grid {
  display: grid; }
