/* stylelint-disable csstree/validator */
/* stylelint-disable declaration-colon-newline-after */
@import 'font-color';

body {
  font: {
    family: 'Poppins', sans-serif;
    weight: 300;
  }
}

.title {
  font: {
    weight: 700;
    size: 3rem;
  }
}

.subtitle {
  font: {
    weight: 600;
    size: 2rem;
  }
}

.card {
  min-height: 100vh;
  display: grid;

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
  }
}

.card-container {
  margin: auto;
  position: relative;
}

.svg-icon {
  position: relative;
  right: 1.5rem;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.input input {
  border-radius: 1rem;
  border: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  height: 1.5rem;
  letter-spacing: 0.09rem;
  padding-left: 1rem;
  text-transform: capitalize;

  &:focus {
    outline: none;
  }
}

#raining {
  &::before {
    background: $raining-deg-color;
  }

  background: url(https://images.unsplash.com/photo-1589136329197-f8396702a94e?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE1NzQ1NX0)
    center / cover;
  color: $raining-text-color;

  .svg-icon {
    fill: $raining-input-text-color;
  }

  .input input {
    background-color: $raining-solid-bg-color;
    color: $raining-input-text-color;

    &::placeholder {
      color: $raining-input-text-color;
    }
  }
}

#sunny {
  &::before {
    background: $sunny-deg-color;
  }

  background: url(https://images.unsplash.com/photo-1589136329197-f8396702a94e?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE1NzQ1NX0)
    center / cover;
  color: $sunny-text-color;

  .svg-icon {
    fill: $sunny-input-text-color;
  }

  .input input {
    background-color: $sunny-solid-bg-color;
    color: $sunny-input-text-color;

    &::placeholder {
      color: $sunny-input-text-color;
    }
  }
}

#few-clouds {
  &::before {
    background: $few-clouds-deg-color;
  }

  background: url(https://images.unsplash.com/photo-1589136329197-f8396702a94e?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE1NzQ1NX0)
    center / cover;
  color: $few-clouds-text-color;

  .svg-icon {
    fill: $few-clouds-input-text-color;
  }

  .input input {
    background-color: $few-clouds-solid-bg-color;
    color: $few-clouds-input-text-color;

    &::placeholder {
      color: $few-clouds-input-text-color;
    }
  }
}

#shower-rain {
  &::before {
    background: $shower-rain-deg-color;
  }

  background: url(https://images.unsplash.com/photo-1589136329197-f8396702a94e?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE1NzQ1NX0)
    center / cover;
  color: $shower-rain-text-color;

  .svg-icon {
    fill: $shower-rain-input-text-color;
  }

  .input input {
    background-color: $shower-rain-solid-bg-color;
    color: $shower-rain-input-text-color;

    &::placeholder {
      color: $shower-rain-input-text-color;
    }
  }
}

.input {
  position: relative;
  bottom: 50vh;
  left: 35vw;
  display: flex;
  align-items: center;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
  .input {
    left: 0;
  }
}
